.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  font-family: "inter", sans-serif;
 
}

.page-stripes{
  position: absolute;
  bottom: -112px;
  left: 93px;
  width: 100%;
  height: 700px; 
  z-index: -150;
   background-repeat: no-repeat;
   background-size: cover;
  background-image: url(../images/Stripe.png) ;
  
}

.app_construccion{
  
  width: 600px;
  height: 500px;
  
}