.page {
width: 100%;
;
font-family: "inter", sans-serif;
 
}

.page-stripes{
  position: absolute;
  bottom: -112px;
  left: 93px;
width: 100%;
  height: 700px; 
  z-index: -150;
   background-repeat: no-repeat;
   background-size: cover;
  background-image: url(../images/Stripe.png) ;
  
}