.dashboard {
  max-width: 100%;
 flex-grow: 1;
  position: relative; 
  min-width:  100%;
  
}

.dashboard_content{
margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
 align-items: center;
  row-gap: 20px;
}

.dashboard_tareas{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 10px;

}

@media screen and (max-width: 768px) {


  .dashboard_content{
    margin-left: 20px;
    padding: 10px;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

@media screen and (max-width: 425px) {
  .dashboard_content{
   text-align: center;
    padding: 0;
  }
  
}