
.fallo-seccion{
display: flex;
flex-direction: column;
  
}

 .fallos_container{
  margin: 20px;
 display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  
 }

.fallo-label {
  padding-top: 30px;
  margin: auto;
  font-weight: bold;
  color: #2d3b8e;
}

.fallo-select,
.fallo-input-date {
  height: 35px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.fallo-select.mini {
  width: 120px;
}

@media screen and (max-width: 425px) {
  .fallos_container{
    grid-template-columns: repeat(1,1fr);;
  }
  
}