.landing-new {
  padding: 40px 0;
   margin: auto;
  display: flex;
  justify-content: space-between;
}


.landing-new-container{
   
  width: 500px;
  display: flex;
  flex-direction: column;
  color: #1E3A8A; 

}

.landing-new-subtitle{
    margin-top: 0;
    padding-left: 10px;
    font-weight: bold;
    
}

.landing-new-text{
padding-left: 10px;
margin-top: 5px;
}


@media screen and (max-width: 768px){
  .landing-new{
    flex-direction: column;
    
  }

  .landingnew_img{
    max-width: 100px;
    margin: 0 auto 10px;
    
  }

}

@media screen and (max-width: 425px){

 .landing-new{
    max-width: 100%;
    
  }
  .landingnew_img{

     transform: scale(1.9);
      padding:15px 0  25px ;
    
  }
.landing-new-container{
  width: auto;
}
}