.landing{
  
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.landingImage{
    width: 850px;
    height: 425px;
    object-fit:contain;
}

.lading_button-container {
    width: 750px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.landing_button {   
margin-bottom: 20px;
padding: 0;
  width: 236px;
  height: 88px;
  border: none;
  cursor: pointer;
box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5)
}

.landing_image-button{
width: 236px;
  height: 88px;
}