.sidebar{
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#1E3A8A,black); ;
    width: 200px;
    color: white;
}

.sidebar_list{
 
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar_list-item{
    color: white;
    padding: 10px;
    text-align: center;
}

.sidebar_logout{
    display: flex;

}
.sidebar_logut-img{
    width: 30px;
    height: 30px;
}

.sidebar_butto-logout{

    font-size: 15px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 10px 0;
}