.tabContainer {
  border-color: #1E3A8A;
  border-width: thick;  
  margin: auto;
  width: 100%;
    

} 

.tabContainer_tabs{
  display: flex;


  background-color: #1E3A8A;
  padding: 10px;
  border-radius: 5px;
}