
.tabs{
    display: flex;
    flex-direction: column;
    
}

.tabs_form{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs_date{

  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.tabs_termino{  
margin-top: 15px;
  height: 36px;
  border-radius: 5px;
  background-color: #a8a8a83f;
  border: 1px solid #ccc;

}

.tabs_date-input{
  display: flex;
width: 100%;
  margin: auto;
  height: 36px;
  border-radius: 5px;
  background-color: #a8a8a83f;
  border: 1px solid #ccc;
}

.tabs_inputs{
 background-color: #a8a8a83f;
 height: 36px;
 width: 100%;
 border:1px solid #ccc;
 border-radius: 5px;
}


.tab_apelacion{

display: grid;
grid-template-columns: repeat(3, auto);
gap: 10px;
 
place-items: center;
justify-content: center;
align-items: center;
height: 70%;
}
.tab_construccion{
  color: #1E3A8A;
}
#tabs_form-tuela{
  margin: 50px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
}

@media screen and (max-width:425px) {
 
.tab_apelacion{
  grid-template-columns: repeat(1,1fr);
}
  .tabs_inputs {
    width: 90%;         
    max-width: 250px;   
    margin: 10px auto;  
    display: block;     
  }
  #tabs_form-tuela{
    grid-template-columns: repeat(1,auto);
  }
.tabs_date{
  width: 90%;         
    max-width: 250px;
  flex-direction: column;

  align-items: center;
  margin: 10px auto;
}
  .tabs_date-input{
    margin: 10px;

  }
  
}